<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFA0S-6JgEvfPTnQtI3vQGHFH3_07jB14</string>
	<key>GCM_SENDER_ID</key>
	<string>544995961689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.connectFriends.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>connectfriends-4f495</string>
	<key>STORAGE_BUCKET</key>
	<string>connectfriends-4f495.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544995961689:ios:c11c58615c3bb8357fba48</string>
</dict>
</plist>